h1
{
    color:aquamarine;
    text-align:center;
    text-size-adjust:30px;
    margin-top: 130px;
}
h2
{
    color:aquamarine;
    text-align:center;
    text-size-adjust:30px;
    margin-top: 100px;
}
body{
    background-color: dimgray;
}
h3
{
    margin-top:100px;
    text-align-last: right;
}
.a
{
    margin-left:200px;
}