
<h1 style="text-align: center;color:blueviolet">OVERVIEW ABOUT QUIZ</h1> 
<p> 
    This <b>Quiz</b> helps you to test your knowledge on <b>HTML</b> and <b>JAVA.</b><br>This quiz helps you to 
take simple mock tests on Java and Html,so that it helps you to get an idea on basic questions of Html and Java. <br> 
It contains two categories of tests. Each has 10 questions.<br>
</p>
<p> 
Below every question, we have two buttons <i>Previous</i> and <i>Next</i> which helps us to navigate<br> 
to previous question and next question.<br> 
After answering all the questions, result can be viewed by clicking on <strong>Show Result</strong> button</p>