

  <div class="row">
    <div class="card" style="width: 20rem;margin-left:50px;margin-right:100px">
      <img class="card-img-top" src="http://1.bp.blogspot.com/-NGHwBncyA68/UiMm_8b2ZUI/AAAAAAAAAnA/17OGXCKI4zE/s1600/Logo+HTML5.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title" style="text-align:center;">Learn HTML </h4>
        <p class="card-text" style="margin-left:50px">Design your own website.
        </p>
        <a href="https://www.w3schools.com/html/" class="btn btn-primary" style="margin-left:130px">Go</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="https://static.guim.co.uk/sys-images/Media/Pix/pictures/2013/1/14/1358150745448/Java-logo-008.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title" style="text-align: center;">Java</h4>
        <p class="card-text">Object Oriented Programming Language
        </p>
        <a href="https://www.javatpoint.com/java-tutorial" class="btn btn-primary" style="margin-left:130px">Go</a>
      </div>
    </div>
    